doctype html

head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='/javascripts/index.js')
  script(type='text/javascript' src='/javascripts/client.js')

body
  h1= title
  p Welcome to #{title}

  #gamestart
    p Hit me to start!

  #welcomemsg

  button#button1(type='button') Button1
  button#button2(type='button') Button2
  br
  input#input1(type='text')
  button#inputbutton(type='button') Submit
  p can i go?
  br
  p#gogogo
  br
  br
  p played card
  p#trick
  br
  br
  p this is servermsg
  br
  br
  p#servermsg
