doctype html
head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/index.js')
    script(type='text/javascript' src='/javascripts/client.js')
body
    #gametitle
    h1= title
    h2 Please enter your name:
    #welcomemsg
    input#input1(type='text')
    button#inputbutton(type='button') Connect
    br
    img(src='/images/tractor.gif')#tractor
    p#servermsg
