body
  padding: 50px
  font: 20px Helvetica, "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#gamestart
  height 100px
  width 200px
  border-radius 10px
  background-color #ABCDEF

#gamestart p
  padding-top: 35px
  padding-left: 35px
  font-size 20
  color violet

#welcomemsg
  display none


#tractor
  display none
  height 100px
  width 150px


.cards
  height 100px
  width 75px
  position absolute
  display inline-block
//left -50px


#usedcardDiv
  position relative
  top 250px

#mycardDiv
  position relative
  top 250px


#overlay
  position relative
  top 0px
  left 0px

.select
  padding 0px