body {
  padding: 50px;
  font: 20px Helvetica, "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  position: relative;
  color: #00b7ff;
}
#gamestart {
  position: relative;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  background-color: #abcdef;
}
#gamestart p {
  position: relative;
  padding-top: 35px;
  padding-left: 35px;
  font-size: 20;
  color: #ee82ee;
}
#welcomemsg {
  position: relative;
  display: none;
}
#tractor {
  position: relative;
  display: none;
  height: 100px;
  width: 150px;
}
.cards {
  position: relative;
  height: 100px;
  width: 75px;
  display: inline-block;
  margin-left: -55px;
}
#usedcardDiv {
  padding: 50px;
  position: relative;
  top: 250px;
}
#mycardDiv {
  padding: 50px;
  position: relative;
  top: 250px;
}
#overlay {
  position: relative;
}
.select {
  padding: 0px;
}
