body {
  padding: 50px;
  font: 20px Helvetica, "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#gamestart {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  background-color: #abcdef;
}
#gamestart p {
  padding-top: 35px;
  padding-left: 35px;
  font-size: 20;
  color: #ee82ee;
}
#welcomemsg {
  display: none;
}
#tractor {
  display: none;
  height: 100px;
  width: 150px;
}
#card1 {
  height: 100px;
  width: 75px;
  position: relative;
  top: 0px;
  left: 0;
}
#card2 {
  height: 100px;
  width: 75px;
  position: absolute;
  top: 0px;
  left: 20px;
}
.cards {
  height: 100px;
  width: 75px;
  position: absolute;
  display: inline-block;
}
#cardDiv {
  position: relative;
}
#overlay {
  position: relative;
  top: 0px;
  left: 0px;
}
.select {
  padding: 0px;
}
